[uwsgi]
buffer-size=62768
socket={{ uwsgi_host }}:{{ uwsgi_port }}
chdir={{ astorage_dir }}
wsgi-file={{ astorage_dir }}/Anfisa-Annotations/a_storage/service.py
pythonpath={{ astorage_dir }}/Anfisa-Annotations/a_storage
processes=1
threads=1
workers = 1
logger=file:logfile={{ astorage_dir }}/logs/uwsgi.log,maxsize=25000000
lazy
