basename = "forome"
instance_name = "annotation"
instance_profile = "bx2-4x16"
user_name = "forome"
disk_name = "/dev/vdd"
volume_profile = "general-purpose"
volume_capacity = "1000"
ssh_key_name = "terraform-ssh"
ssh_key_public_file = "~/.ssh/id_rsa.pub"