basename = "forome"
instance_name = "annotation"
instance_profile = "bx2-4x16"
user_name = "forome"
var_disk_name = "/dev/vdd"
data_disk_name = "/dev/vdc"
var_volume_profile = "general-purpose"
var_volume_capacity = "1000"
data_volume_profile = "general-purpose"
data_volume_capacity = "1000"
ssh_public_key_file = "~/.ssh/id_rsa.pub"
ssh_private_key_file = "~/.ssh/id_rsa"