basename = "forome"
instance_name = "annotation"
instance_profile = "bx2-4x16"
user_name = "forome"
disk_name = "/dev/vdd"
volume_profile = "general-purpose"
volume_capacity = "1000"
ssh_public_key_file = "~/.ssh/id_rsa.pub"
ssh_private_key_file = "~/.ssh/id_rsa"