instance_name        = "annotation"
instance_profile     = "cx2-8x16"
user_name            = "forome"
data_disk_name       = "/dev/vdd"
data_volume_profile  = "general-purpose"
data_volume_capacity = "1000"
var_disk_name        = "/dev/vde"
var_volume_profile   = "general-purpose"
var_volume_capacity  = "1000"
ssh_key_name         = "forome-ssh"
ssh_public_key_file  = ".ssh/forome-ssh.pub"
ssh_private_key_file = ".ssh/forome-ssh"