#!/usr/bin/env bash
PROCCESS=$(ps -eaf | fgrep "$(basename $0)"| grep -v grep | wc -l)
LOGFILE="{{ data_dir }}/.scripts/mysql.log"
IGNORE_DB="(^mysql|sys|_schema$|-old$|-recovery$)"
REF_DB="ensembl ensembl_hg38 forome hgmd_phenbase hgmd_pro hgmd_snp hgmd_views"

function list_db() {
	local show_databases_sql="SHOW DATABASES WHERE \`Database\` NOT REGEXP '$IGNORE_DB'"
	echo $(sudo mysql -e "$show_databases_sql"|awk -F " " '{if (NR!=1) print $1}')
}

function restore_db() {
	if [[ $REF_DB == "$(list_db)" ]]; then
	        echo "$(date '+%B %V %T.%3N:') Databases are exist" > $LOGFILE
	else
	        gunzip < {{ download_dir }}/mysqldump.sql.gz | mysql 2>&1 > $LOGFILE
	        echo "$(date '+%B %V %T.%3N:') Databases has been restored" > $LOGFILE
	fi
}

function run() {
	if [[ $PROCCESS -gt 2 ]]; then
	        echo "$(date '+%B %V %T.%3N:') Another instance of script already exist! Exiting" > $LOGFILE
	        exit
	else
		restore_db
	fi
}

run