#!/usr/bin/env bash
if [[ $(ps -eaf | fgrep "$(basename $0)"| grep -v grep | wc -l) -gt 2 ]]; then
        echo "Another instance of script already exist! Exiting"
        exit
else
        gunzip < {{ download_dir }}/mysqldump.sql.gz | mysql 2>&1 >{{ data_dir }}/.scripts/mysql.log
fi