server {
    server_name {{ nginx_host }};
    listen {{ nginx_port }};
    location / {
        include uwsgi_params;
        uwsgi_pass {{ uwsgi_host }}:{{ uwsgi_port }};
        uwsgi_read_timeout 300;
    }
}
