[Unit]
Description=astorage

[Service]
User={{ user }}
Group={{ user }}
LimitNOFILE=20000
ExecStart={{ uwsgi_dir }}/venv/bin/uwsgi --ini {{ uwsgi_dir }}/uwsgi.ini --virtualenv {{ uwsgi_dir }}/venv
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog

[Install]
WantedBy=multi-user.target