[Unit]
Description=astorage

[Service]
User={{ user }}
Group={{ user }}
LimitNOFILE=20000
ExecStart={{ py_venv }}/bin/uwsgi --ini {{ astorage_dir }}/uwsgi.ini --virtualenv {{ py_venv }}
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog

[Install]
WantedBy=multi-user.target