#!/usr/bin/env bash
if [[ $(ps -eaf | fgrep "$(basename $0)"| grep -v grep | wc -l) -gt 2 ]]; then
        echo "Another instance of script already exist! Exiting"
        exit
else
        aws --endpoint-url {{ endpoint_url }} s3 sync s3://{{ bucket_annotation }}{{ data_dir }} {{ data_dir }} 2>&1 >{{ data_dir }}/.scripts/data.log
fi